{% load static %}
<footer class="container-fluid footer-content">
    <div class="row logo-row-footer">
        <img src="{% static 'media/footer/bigfound_white_logo.png' %}" height="50" alt="">
    </div>
    <div class="row">
        <div class="col-4 column-footer">
            <div class="row judul-footer">
                Big Foundation
            </div>
            <div class="row alamat">
                Jl. Danau Batur V Nomor 117, RT. 005, RW. 005, Kel. Abadijaya, Kec. Sukmajaya
            </div>
            <div class="row contact">
                <table class="table-contact">
                    <tbody>
                        <tr class="tr-contact">
                            <td>
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </td>
                            <td>
                                admin@bigfound.id
                            </td>
                        </tr>
                        <tr class="tr-contact">
                            <td class="icon">
                                <i class="fa fa-phone"></i>
                            </td>
                            <td>
                                021-27619496
                            </td>
                        </tr>
                        <tr class="tr-contact">
                            <td class="icon">
                                <i class="fa fa-print"></i>
                            </td>
                            <td>
                                021-27619496
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 offset-md-1">
            <div class="row judul-footer">
                Tentang Kita
            </div>
            <div class="row">
                Profil
            </div>
            <div class="row">
                Program 
            </div>
            <div class="row">
                Blog 
            </div>
            <div class="row">
                Donasi
            </div>
        </div>
        <div class="col">
            <div class="row judul-footer">
                Media Sosial
            </div>
            <div class="row">
                <div class="icon-medsos">
                    <a href="https://twitter.com/bigfound" target="_blank">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="icon-medsos">
                    <a href="https://www.instagram.com/bigfound" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                </div>
                <div class="icon-medsos">
                    <a href="https://www.facebook.com/bigfound" target="_blank">
                        <i class="fa fa-facebook-f fa-2x"></i>
                    </a>
                </div>
                <div class="icon-medsos">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="column-footer">
            <div class="row">
                <img src="{% static 'media/footer/bigfound_white_logo.png' %}" height="50" alt="">
            </div>
            <div class="row">
                <div class="icon">
                    <a href="https://www.instagram.com/hmhiui/" target="_blank">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </div>
                <div class="icon">
                    <a>
                        <i class="fab fa-line fa-3x"></i>
                    </a>
                </div>
                <div class="icon">
                    <a href="https://twitter.com/hmhiui" target="_blank">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="column-footer">
            <div class="footer-company-about">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'media/navbar/big_found_logo.png' %}" height="50" alt="">
                </a>
            </div>
        </div>
    </div> -->



</footer>